.repair-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: center;

}

.repair-image{
    box-sizing: border-box;
    width: 150px;
    height: 100px; 
    box-shadow: 2px 7px 1px #b700ff;
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    margin-bottom: 40px;
}

.repair-image:hover{
    border: 1px solid #b700ff;
     transform: scale(1.05);
}