ul {
    direction: none;
}
.button.primary {
    background-color: #e0dd22;
    color: #fff;
}

.nav-list__item{
    list-style: none;
}

.button.secondary {
    background-color: #6c757d;
    color: #fff;
}

/* Стилі для кнопок з ефектом при наведенні */
.button:hover {
    background-color: #b3a700;
}